# Entorno Virtual
venv/
env/

# Base de datos local
db.sqlite3
*.sqlite3

# Archivos de Python compilados
__pycache__/
*.pyc

# Variables de entorno (CRÍTICO: JAMÁS COMENTAR ESTA LÍNEA)
.env

# Archivos estáticos y media generados
staticfiles/
media/

# IDEs
.vscode/
.idea/